@font-face {
  font-family: 'mana';
  src:  url('fonts/mana.eot?hzkthu');
  src:  url('fonts/mana.eot?hzkthu#iefix') format('embedded-opentype'),
    url('fonts/mana.ttf?hzkthu') format('truetype'),
    url('fonts/mana.woff?hzkthu') format('woff'),
    url('fonts/mana.svg?hzkthu#mana') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mana' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-w:before {
  content: "\e600";
}
.icon-u:before {
  content: "\e601";
}
.icon-b:before {
  content: "\e602";
}
.icon-r:before {
  content: "\e603";
}
.icon-g:before {
  content: "\e604";
}
.icon-0:before {
  content: "\e605";
}
.icon-1:before {
  content: "\e606";
}
.icon-2:before {
  content: "\e607";
}
.icon-3:before {
  content: "\e608";
}
.icon-4:before {
  content: "\e609";
}
.icon-5:before {
  content: "\e60a";
}
.icon-6:before {
  content: "\e60b";
}
.icon-7:before {
  content: "\e60c";
}
.icon-8:before {
  content: "\e60d";
}
.icon-9:before {
  content: "\e60e";
}
.icon-10:before {
  content: "\e60f";
}
.icon-11:before {
  content: "\e610";
}
.icon-12:before {
  content: "\e611";
}
.icon-13:before {
  content: "\e612";
}
.icon-14:before {
  content: "\e613";
}
.icon-15:before {
  content: "\e614";
}
.icon-x:before {
  content: "\e615";
}
.icon-y:before {
  content: "\e616";
}
.icon-z:before {
  content: "\e617";
}
.icon-p:before {
  content: "\e618";
}
.icon-s:before {
  content: "\e619";
}
.icon-tap:before {
  content: "\e61a";
}
.icon-untap:before {
  content: "\e61b";
}
.icon-tap1:before {
  content: "\e61c";
}
.icon-chaos:before {
  content: "\e61d";
}
.icon-artifact:before {
  content: "\e61e";
}
.icon-creature:before {
  content: "\e61f";
}
.icon-enchantment:before {
  content: "\e620";
}
.icon-instant:before {
  content: "\e621";
}
.icon-land:before {
  content: "\e622";
}
.icon-planeswalker:before {
  content: "\e623";
}
.icon-sorcery:before {
  content: "\e624";
}
.icon-loyalty-down:before {
  content: "\e625";
}
.icon-loyalty-zero:before {
  content: "\e626";
}
.icon-loyalty-up:before {
  content: "\e627";
}
.icon-loyalty-start:before {
  content: "\e628";
}
.icon-flashback:before {
  content: "\e629";
}
.icon-16:before {
  content: "\e62a";
}
.icon-17:before {
  content: "\e62b";
}
.icon-18:before {
  content: "\e62c";
}
.icon-19:before {
  content: "\e62d";
}
.icon-20:before {
  content: "\e62e";
}
.icon-100:before {
  content: "\e900";
}
.icon-1000000:before {
  content: "\e901";
}
.icon-half:before {
  content: "\e902";
}
.icon-infinity:before {
  content: "\e903";
}
.icon-c:before {
  content: "\e904";
}
.icon-dfc-night:before {
  content: "\e905";
}
.icon-dfc-day:before {
  content: "\e906";
}
.icon-e:before {
  content: "\e907";
}
.icon-energy:before {
  content: "\e907";
}
.icon-dfc-ignite:before {
  content: "\e908";
}
.icon-dfc-spark:before {
  content: "\e909";
}
.icon-dfc-emrakul:before {
  content: "\e90a";
}
.icon-dfc-moon:before {
  content: "\e90b";
}
.icon-guild-azorius:before {
  content: "\e90c";
}
.icon-guild-boros:before {
  content: "\e90d";
}
.icon-guild-dimir:before {
  content: "\e90e";
}
.icon-guild-golgari:before {
  content: "\e90f";
}
.icon-guild-gruul:before {
  content: "\e910";
}
.icon-guild-izzet:before {
  content: "\e911";
}
.icon-guild-orzhov:before {
  content: "\e912";
}
.icon-guild-rakdos:before {
  content: "\e913";
}
.icon-guild-selesnya:before {
  content: "\e914";
}
.icon-guild-simic:before {
  content: "\e915";
}
.icon-clan-abzan:before {
  content: "\e916";
}
.icon-clan-jeskai:before {
  content: "\e917";
}
.icon-clan-mardu:before {
  content: "\e918";
}
.icon-clan-sultai:before {
  content: "\e919";
}
.icon-clan-temur:before {
  content: "\e91a";
}
.icon-clan-atarka:before {
  content: "\e91b";
}
.icon-clan-dromoka:before {
  content: "\e91c";
}
.icon-clan-kolaghan:before {
  content: "\e91d";
}
.icon-clan-ojutai:before {
  content: "\e91e";
}
.icon-clan-silumgar:before {
  content: "\e91f";
}
.icon-dfc-enchantment:before {
  content: "\e920";
}
.icon-power:before {
  content: "\e921";
}
.icon-toughness:before {
  content: "\e922";
}
.icon-artist-brush:before {
  content: "\e923";
}
.icon-artist-nib:before {
  content: "\e924";
}
.icon-multiple:before {
  content: "\e925";
}
.icon-tribal:before {
  content: "\e925";
}
.icon-polis-setessa:before {
  content: "\e926";
}
.icon-polis-akros:before {
  content: "\e927";
}
.icon-polis-meletis:before {
  content: "\e928";
}
.icon-acorn:before {
  content: "\e929";
}
.icon-saga:before {
  content: "\e92a";
}
.icon-counter-arrow:before {
  content: "\e92b";
}
.icon-counter-brick:before {
  content: "\e92c";
}
.icon-counter-charge:before {
  content: "\e92d";
}
.icon-counter-devotion:before {
  content: "\e92e";
}
.icon-counter-doom:before {
  content: "\e92f";
}
.icon-counter-echo:before {
  content: "\e930";
}
.icon-counter-flame:before {
  content: "\e931";
}
.icon-counter-flood:before {
  content: "\e932";
}
.icon-counter-fungus:before {
  content: "\e933";
}
.icon-counter-gold:before {
  content: "\e934";
}
.icon-counter-ki:before {
  content: "\e935";
}
.icon-counter-lore:before {
  content: "\e936";
}
.icon-counter-loyalty:before {
  content: "\e937";
}
.icon-counter-mining:before {
  content: "\e938";
}
.icon-counter-minus:before {
  content: "\e939";
}
.icon-counter-muster:before {
  content: "\e93a";
}
.icon-counter-paw:before {
  content: "\e93b";
}
.icon-counter-pin:before {
  content: "\e93c";
}
.icon-counter-plus:before {
  content: "\e93d";
}
.icon-counter-scream:before {
  content: "\e93e";
}
.icon-counter-skeleton:before {
  content: "\e93f";
}
.icon-counter-skull:before {
  content: "\e940";
}
.icon-counter-slime:before {
  content: "\e941";
}
.icon-counter-time:before {
  content: "\e942";
}
.icon-counter-minus-uneven:before {
  content: "\e943";
}
.icon-counter-plus-uneven:before {
  content: "\e944";
}
.icon-counter-verse:before {
  content: "\e945";
}
.icon-counter-vortex:before {
  content: "\e946";
}
.icon-ability-activated:before {
  content: "\e947";
}
.icon-ability-adventure:before {
  content: "\e948";
}
.icon-ability-convoke:before {
  content: "\e949";
}
.icon-ability-ascend:before {
  content: "\e94a";
}
.icon-ability-deathtouch:before {
  content: "\e94b";
}
.icon-ability-defender:before {
  content: "\e94c";
}
.icon-ability-doublestrike:before {
  content: "\e94d";
}
.icon-ability6ability-enrage:before {
  content: "\e94e";
}
.icon-ability-explore:before {
  content: "\e94f";
}
.icon-ability-firststrike:before {
  content: "\e950";
}
.icon-ability-flash:before {
  content: "\e951";
}
.icon-ability-flying:before {
  content: "\e952";
}
.icon-ability-haste:before {
  content: "\e953";
}
.icon-ability-hexproof:before {
  content: "\e954";
}
.icon-ability-hexproof-black:before {
  content: "\e955";
}
.icon-ability-hexproof-blue:before {
  content: "\e956";
}
.icon-ability-hexproof-green:before {
  content: "\e957";
}
.icon-ability-hexproof-red:before {
  content: "\e958";
}
.icon-ability-hexproof-white:before {
  content: "\e959";
}
.icon-ability-indestructible:before {
  content: "\e95a";
}
.icon-ability-jumpstart:before {
  content: "\e95b";
}
.icon-ability-lifelink:before {
  content: "\e95c";
}
.icon-ability-menace:before {
  content: "\e95d";
}
.icon-ability-mentor:before {
  content: "\e95e";
}
.icon-ability-raid:before {
  content: "\e95f";
}
.icon-ability2ability-reach4:before {
  content: "\e960";
}
.icon-ability-revolt:before {
  content: "\e961";
}
.icon-ability26ability-statuc:before {
  content: "\e962";
}
.icon-ability-surveil:before {
  content: "\e963";
}
.icon-ability-trans:before {
  content: "\e964";
}
.icon-ability-transform:before {
  content: "\e965";
}
.icon-ability-triggered:before {
  content: "\e966";
}
.icon-ability-undergrowth:before {
  content: "\e967";
}
.icon-ability-vigilance:before {
  content: "\e968";
}
.icon-ability-escape:before {
  content: "\e969";
}
.icon-ability-summoning-sickness:before {
  content: "\e96a";
}
.icon-ability-spectacle:before {
  content: "\e96b";
}
.icon-rarity:before {
  content: "\e96c";
}
.icon-token:before {
  content: "\e96d";
}
.icon-phenomenon:before {
  content: "\e96e";
}
.icon-plane:before {
  content: "\e96f";
}
.icon-scheme:before {
  content: "\e970";
}
.icon-vanguard:before {
  content: "\e971";
}
.icon-conspiracy:before {
  content: "\e972";
}
.icon-ability-riot:before {
  content: "\e973";
}
.icon-ability-adamant:before {
  content: "\e974";
}
.icon-ability-adapt:before {
  content: "\e975";
}
.icon-ability-addendum:before {
  content: "\e976";
}
.icon-ability-afflict:before {
  content: "\e977";
}
.icon-ability-afterlife:before {
  content: "\e978";
}
.icon-ability-aftermath:before {
  content: "\e979";
}
.icon-ability-amass:before {
  content: "\e97a";
}
.icon-ability-companion:before {
  content: "\e97b";
}
.icon-ability-costellation:before {
  content: "\e97c";
}
.icon-ability-devotion:before {
  content: "\e97d";
}
.icon-ability-embalm:before {
  content: "\e97e";
}
.icon-ability-eternalize:before {
  content: "\e97f";
}
.icon-ability-mutate:before {
  content: "\e980";
}
.icon-ability-proliferate:before {
  content: "\e981";
}
.icon-ability-prowess:before {
  content: "\e982";
}
.icon-dfc-modal-face:before {
  content: "\e983";
}
.icon-dfc-modal-back:before {
  content: "\e984";
}
.icon-multicolor:before {
  content: "\e985";
}
.icon-multicolor-border:before {
  content: "\e986";
}
.icon-ability-party:before {
  content: "\e987";
}
.icon-ability-landfall:before {
  content: "\e988";
}
.icon-ability-kicker:before {
  content: "\e989";
}
.icon-ci-1:before {
  content: "\e98a";
}
.icon-ci-2:before {
  content: "\e98b";
}
.icon-ci-3:before {
  content: "\e98c";
}
.icon-ci-4:before {
  content: "\e98d";
}
.icon-ci-5:before {
  content: "\e98e";
}
.icon-dfc-lesson:before {
  content: "\e98f";
}
.icon-ability-foretell:before {
  content: "\e990";
}
.icon-ability-boast:before {
  content: "\e991";
}
.icon-ability-ward:before {
  content: "\e992";
}
.icon-ability-magecraft:before {
  content: "\e993";
}
.icon-ability-learn:before {
  content: "\e994";
}
.icon-ability-dungeon:before {
  content: "\e995";
}
.icon-s-mtga:before {
  content: "\e996";
}
.icon-w-original:before {
  content: "\e997";
}
.icon-w-list:before {
  content: "\e998";
}
.icon-ability-d20:before {
  content: "\e999";
}
.icon-school-lorehold:before {
  content: "\e99a";
}
.icon-school-lorehold-inner:before {
  content: "\e99b";
}
.icon-school-prismari:before {
  content: "\e99c";
}
.icon-school-prismari-inner:before {
  content: "\e99d";
}
.icon-school-quandrix:before {
  content: "\e99e";
}
.icon-school-quandrix-inner:before {
  content: "\e99f";
}
.icon-school-silverquill:before {
  content: "\e9a0";
}
.icon-school-silverquill-inner:before {
  content: "\e9a1";
}
.icon-school-witherbloom:before {
  content: "\e9a2";
}
.icon-school-witherbloom-outer:before {
  content: "\e9a3";
}
.icon-school-witherbloom-inner:before {
  content: "\e9a4";
}
.icon-pw:before {
  content: "\e9a5";
}
.icon-pu:before {
  content: "\e9a6";
}
.icon-pb:before {
  content: "\e9a7";
}
.icon-pm:before {
  content: "\e9a8";
}
.icon-pf:before {
  content: "\e9a9";
}
.icon-kamigawa:before {
  content: "\e9aa";
}
